body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}

.header-about {
    background-color: #1ba2f6;
    color: white;
    padding: 1em;
    text-align: center;
}

.main-content {
    padding: 40px;
    text-align: center;
}

.introduction,
.background,
.skills,
.passion,
.personal-touch {
    margin-bottom: 40px;
}

h2,
h3 {
    color: #3498db;
}

p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6em;
}

